.frame {
  position: relative;
  overflow: visible;
  --agno-line-color: rgba(24, 24, 27, 0.1);
  --agno-side-line-offset: 8px;
  background: radial-gradient(119.34% 180.67% at 50% 242.9%, #ff4017 0%, #fff 100%);
}

.darkMode {
  --agno-line-color: rgba(250, 250, 250, 0.15);
  background: radial-gradient(119.34% 180.67% at 50% 242.9%, #ff4017 0%, #111113 100%);
}

.lightMode {
  background: radial-gradient(119.34% 180.67% at 50% 242.9%, #ff4017 0%, #fff 100%);
}

.window {
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.line {
  position: absolute;
  background: var(--agno-line-color);
}

.leftLine {
  top: 0;
  left: max(0px, calc(var(--frame-padding) - var(--agno-side-line-offset)));
  width: 1.4px;
  height: 100%;
}

.rightLine {
  top: 0;
  right: max(0px, calc(var(--frame-padding) - var(--agno-side-line-offset)));
  width: 1.4px;
  height: 100%;
}
